<div class="container">
    @if (Model != null)
    {
        @if (Model.GetType() == typeof(Client))
        {
            <h4>Client: <span style="color:red">@Model.Name</span> <hr>Stylist: <p></p><br>@foreach(var stylist in Model.GetStylist()){<p>@stylist.Name</p>}
            </h4>
            <hr>
            <h4>Pick a different Stylist:</h4>
            <form action="/client/editstylist/@Model.Id" method="POST">
            @foreach(var stylist in ViewBag.Stylists)
            {
                <input type="radio" name="new-stylist" value="@stylist.Id">  @stylist.Name<br>
                @*<a href="/client/editstylist/@Model.Id/@stylist.Id">@stylist.Name</a><br>*@
            }
            <hr>
             <button class="btn btn-primary" type="submit">Submit</button>
            </form>
        }
        else if (Model.GetType() == typeof(Stylist))
        {
            <h4>Stylist: <span style="color:blue">@Model.Name</span> <hr> Clients:</h4>
            foreach(var Client in Model.GetClients())
            {
                <a href="/client/@Client.Id">@Client.Name</a>
            }
            <hr>
            <h4>Change Name:</h4>
            <form action="/stylist/@Model.Id/changename" method="POST">
            <div class="form-group">
                <input name="new-name" type="text" class="form-control" placeholder="@Model.Name">
            </div>
            <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <hr>
            <form action="/stylist/@Model.Id/addspecialty/" method="POST">
                <select name="specialty">
            @foreach(var specialty in ViewBag.AllSpecialties)
            {
                <option value="@specialty.Id">@specialty.SpecialtyName</option>
            }
                </select> 
            <p></p>
            <button class="btn btn-primary" type="submit">Submit</button>
            </form>
            <hr>
            <h4>Specialties:</h4>
            <ul>
            @foreach(var specialty in Model.FindSpecialties())
            {
                <a href="/specialty/@specialty.Id"><li>@specialty.SpecialtyName</li></a>
            }
            </ul>
        }   
        else if (Model.GetType() == typeof(Specialty))
        {
            @Model.SpecialtyName
            <h3>Stylists with this specialty:</h3>
            foreach(var stylist in Model.GetStylist())
            {
                <br>
                @stylist.Name
            }
        }
        else {
            <h4>Oops</h4>
        }
    } 
    else {
        <h4>Sorry, that could not be found.</h4>
    }
</div>